/* Style the navbar */
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

/* Style links inside the navbar */
.topnav a {
  display: flex;
  float: left;
  display: block;
  text-align: center;
  padding: 8px 10px;
  font-size: 17px;
  color: var(--text-color);
  text-decoration: none;
}

.main {
  min-height: 40vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
