/* Style the navbar */
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

/* Style links inside the navbar */
.topnav a {
  display: flex;
  float: left;
  display: block;
  text-align: center;
  padding: 8px 10px;
  font-size: 17px;
  color: var(--text-color);
  text-decoration: none;
}
