.main {
  min-height: 40vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 3rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.embedded {
  height: 12.5in;
  width: 8.5in;
}
